<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
	<extension point="org.eclipse.emf.ecore.generated_package">
		<package
			uri = "http://www.xtext.org/wesnoth/Wail"
			class = "org.xtext.wesnoth.wail.WailPackage"
			genModel = "model/generated/Wail.genmodel" />
	</extension>
</plugin>
